@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}
header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#logo{
    width: 150px;
    height: auto;

}
nav{
    width: 60%;
}
#emuso{
    color: #ff6600;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

li{
 
 color: #FFF;
 cursor: pointer;
 font-size: 40px;
 transition: 0.5s;
 font-family: 'Bebas Neue', cursive;
 position: relative;

}

li:hover{
    color:#ff6600;
}

.backlogo{
    background-image: url(images/theflashlogo.png);
    background-position: 50% 50%;
    background-size:contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    
}

.content-box{
    width: 100vw;
    height: 800px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(226, 227, 241, 0.849);
    
}

.box{
    margin-top: 10px;
    width: 700px;
    height: 150px;
    background-color: rgba(58, 58, 58, 0.699);
    border-radius: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    
    
}
.user{
    margin-left: 10px;
    background: transparent;
    display: block;
    align-items: center;
    width: 180px;
    color: #ff6600;
    margin-left: 15px;
}
h3,p{
    background: transparent;
    padding: 5px 5px 0 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 15px;
}

.icon{
    width: 96px;
    height: 96px;
    margin: 10px 0 0 10px;
    background: transparent;
    align-items: start;
}


footer{
    height: 300px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
}

.footer-navigation{
    display: none;
    
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation{
        display: block;
        margin-top: 300px;
    }

nav{
    display: none;
}

.emuso{
    color: #ff6600;
}
.content-box{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.box{
    width: 100%;
    height: 250px;
}

}